body,
html {
    padding: 0;
    margin: 0;
}

#particles-js {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: white;
}

#game {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    /* border:5px solid #59AE7E; */
}